.formList {
    height: 100svh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
    gap: 1rem;
}

.form {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 1rem;
    background-color: rgba(240, 248, 255, 0.656);
    border-radius: 25px;
    overflow-x:visible;
}

.form h1 {
    color: rgb(64, 67, 71);
}

.form h4 {
    font-size: smaller;
    color: rgb(64, 67, 71);
}

.formLegend {
    border: 0.5px solid;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: lightslategray;
    border-radius: 10px;
    font-size: medium;
}

/* Request/Generate Button Row */

.generateButtons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: left;
    padding-bottom: 0.5rem;
    border-bottom: 1px dashed;
}

.generateButtons p {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.generateButtons button {
    padding: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid;
    border-color: lightslategray;
    border-radius: 10px;
    transition: background-color .1s ease-in-out, color .1s ease-in-out;
}

.generateButtons button:hover:enabled {
    background-color: var(--icon-blue);
    color: white;
}

.generateButtons button:disabled {
    opacity: 50%;
}

.activatedMode {
    background-color: var(--icon-blue) !important;
    color: white;
}

/* Main space of the form with figure and settings */

.figureSpace {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.figureControls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.removeButton {
    color: crimson;
}

/* Settings, map space and input row at the top */

.mapGroup {
    position: relative; 
    height: auto;
}

.mapSpace {
    transition: all .3s ease;
    border-radius: 10px;
    overflow: hidden;
}

.mapToggleButton {
    transition: all .3 ease;
    position:absolute;
    background-color: rgba(255, 255, 255, 0.6);
    border: 0.5px solid;
    border-color: lightslategray;
    border-top-left-radius: 10px;
    padding-right: 5px;
    padding-left: 7px;
    z-index: 1;
}

.locationButton {
    border: 0.5px solid;
    border-radius: 10px;
    border-color: lightslategray;
    padding: 0.1rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background-color: white;
}

.inputSpace {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
}

.settingForm {
    display:inline-flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
    padding-bottom: 0.5rem;
}

.settingForm input {
    border: 0.5px solid;
    border-radius: 10px;
    border-color: lightslategray;
    padding: 0.1rem;
    padding-left: .3rem;
}

.settingForm input[type="number"] {
    width: 7em;
  }

.settingForm label {
    padding-top: 0.2rem;
}

.addButton {
    padding: 0.2rem;
    color: forestgreen;
    background-color: honeydew;
    transition: background-color .1s ease-in-out, color .1s ease-in-out;
    border-radius: 25px;
}

.addButton:hover {
    background-color:forestgreen;
    color: white;
}

.formTitle {
    white-space:nowrap;
}

.highlightText {
    display:inline-block;
}

@media only screen and (max-width: 825px) {

    .settingForm {
        display: grid;
        grid-template: "a a a" 40px            "b c c" 40px            "b c c" 40px / 1fr 1fr 1fr;
    }
}