.formList {
    display: flex;
    flex-direction: column;
}

.form {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 1rem;
    background-color: aliceblue;
    border-bottom: 1px solid;
}

.form h1 {
    color: rgb(64, 67, 71);
}

.form h4 {
    font-size: smaller;
    color: rgb(64, 67, 71);
}

.formLegend {
    border: 0.5px solid;
    background-color: rgba(193, 195, 197, 0.148);
    border-color: lightslategray;
    border-radius: 10px;
    font-size: medium;
}

/* Request/Generate Button Row */

.generateButtons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: left;
    padding-bottom: 0.5rem;
    border-bottom: 1px dashed;
}

.generateButtons p {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.generateButtons button {
    padding: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid;
    border-color: lightslategray;
    border-radius: 10px;
    transition: background-color .1s ease-in-out, color .1s ease-in-out;
}

.generateButtons button:hover:enabled {
    background-color: lightslategray;
    color: white;
}

.generateButtons button:disabled {
    opacity: 50%;
}

/* Main space of the form with figure and settings */

.figureSpace {
    display: flex;
    flex-direction: row;
}

.figureControls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.removeButton {
    color: crimson;
}

/* Settings, map space and input row at the top */

.mapSpace {
    transition: all .3s ease;
    overflow: hidden;
}



.inputSpace {
    display: flex;
    flex-direction: column;
}

.settingForm {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
}

.settingForm input {
    border: 0.5px solid;
    border-radius: 10px;
    border-color: lightslategray;
    padding: 0.1rem;
}

.settingForm label {
    padding-top: 0.2rem;
}

.addButton {
    padding: 0.2rem;
    color: forestgreen;
    background-color: honeydew;
    transition: background-color .1s ease-in-out, color .1s ease-in-out;
}

/*.addButton:hover {
    background-color:forestgreen;
    color: white;
}*/